body {
    background-color:#333;
    color:#EEE;
    font-size:14px;
}

.jumbotron {
    background:url('http://www.chriskhamken.com/images/travel/hawaii_wide.jpg') no-repeat;
    background-size:cover;
    background-position:-50px;
}
.jumbotron .container {
    background-color:#333;
    color:#EEE;
    padding:50px;
    background:rgba(0,0,0,0.5);
}
.nav {
    padding:0px;
    margin-top:0px;
    }
    .nav li {
        display:inline-block;
        padding-top:0px;
        margin-top:0px;
    }
    .nav li a {
        padding:10px 15px;
        margin-top:0px;
    }
#footer {
    border-top:1px solid #666;
    bottom:0px;
    color:#666;
    font-size:0.85em;
    letter-spacing:0.05em;
    margin-top:100px;
    text-transform:uppercase;
    width:100%;
}