body {
    background-color:#333;
    color:#EEE;
    font-size:14px;
}

#main {

}
.nav {
    padding:0px;
    margin-top:0px;
    }
    .nav li {
        display:inline-block;
        padding-top:0px;
        margin-top:0px;
    }
    .nav li a {
        padding:10px 15px;
        margin-top:0px;
    }
#footer {
    border-top:1px solid #666;
    bottom:0px;
    color:#666;
    font-size:0.85em;
    letter-spacing:0.05em;
    left:0px;
    padding-top:15px;
    position:fixed;
    text-transform:uppercase;
    width:100%;
}