body {
    background-color:#333;
    color:#EEE;
}

#main {

}

#footer {
    border-top:1px solid #DDD;
    bottom:0px;
    left:0px;
    position:fixed;
    text-align:right;
    text-transform:capitalize;
}